body {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

nav {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    justify-content: center;
}

.calcBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: grey;
    max-width: 450px;
    height: 650px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 15px hsl(0, 0%, 20%);
}

.display {
    width: 95%;
    border: 1px solid black;
    margin: .5rem;
    margin-top: 1rem;
    background-color: hsl(120, 100%, 25%);
    font-size: 4rem;
    font-family: monospace;
    height: 125px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: 2px solid black;
    box-shadow: 0 6px hsl(0, 0%, 20%);
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
    height:100%;

}

button {
    font-size: 1.5rem;
    width: 25%;
    border: 2px solid black;
    border-radius: 4px;
}

.operator, .posNeg, .percent, .decimal {
    background-color: hsl(120, 25%, 65%);
}

.equals, .clear {
    background-color: hsl(39, 100%, 50%);
}

.number {
    background-color: hsl(39, 100%, 80%);
}

button {
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    
    border-radius: 15px;
    box-shadow: 0 9px hsl(0, 0%, 25%);
  }
  
.operator:hover, .posNeg:hover, .percent:hover, .decimal:hover {
    background-color: hsl(120, 25%, 40%)
}

.number:hover {
    background-color: hsl(39, 100%, 65%);
}

.equals:hover, .clear:hover {
    background-color:hsl(39, 100%, 45%);
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 0px;
    transform: translateY(4px);
  }
